@import url('https://fonts.googleapis.com/css?family=Numans');

body {
	margin: 0;
  padding: 0;
  background: url(Fondo.jpg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;	
	
  }
  
  table 
  {
	  margin:0;
	  border: 2px solid #353A46;
	  border-radius: 10px;
	  background-color:rgba(91, 104, 242, 0.407);
	  top: 50%;
	  left: 50%;
	  position: absolute;
	  transform: translate(-50%,-50%);
  }
  
  td
  {
		border-color:dimgray;
	  padding: 10px 30px;
  }
  tr{
    border-color:dimgray;
  }
  
  input[type=text], input[type=password]
  {
	color: rgb(9, 5, 5);
  width: 100%;
  font-size: 16px;
  border:black;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  background: transparent;
  
  
  }
  
  
  label
  {
	font-size: 20px;
  font-weight: bold;
  
  }
  
  input[type=submit]
  {
	font-size: 16px;
  background-color: #9e9ae0;
  color:black;
  font-weight: bold;
  border-radius: 10px;
  height: 40px;
  width: 150px;
  border: solid;
  
  }
  
  a
  {
	  font-size: 14px;
	  
  }
  .container{
    margin:0;
	  border: 2px solid #353A46;
	  border-radius: 10px;
	  background-color:rgba(91, 104, 242, 0.407);
	  top: 50%;
	  left: 50%;
	  position: absolute;
	  transform: translate(-50%,-50%);
  }
  td{
color: aliceblue;
  }
  
  